<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title>Xuan Nam</title>
</head>

<body>
    <h1>
        Hello world Xuan Nam
    </h1>

    <h2>
        message = <%=message%>
    </h2>
</body>

</html>